.carousel { background: #000; }
.carousel .item { height: 350px; overflow: hidden; }
.carousel .item img { width: 100%; height: auto; margin-top: -35%; }
.carousel-caption a { color: #fff; }

.blog-element { display: block; height: 200px; overflow: hidden; background-position: center center; background-repeat: no-repeat; background-size: cover; }
.blog-element a { color: #fff; text-shadow: 0 1px 3px rgba(0,0,0,.5) }

.second-row-padding:nth-child(2) { padding-right: 0px; }
.second-row-padding:nth-child(3) { padding-left: 0px; }

.third-row-padding { padding: 0; }
.third-row-padding:nth-child(4) { padding-left: 15px !important; }
.third-row-padding:last-child { padding-right: 15px !important; }



/*
li.bypostauthor cite span {
	color: #21759b;
	background-color: #f8f0cb;
	background-image: none;
	border: 1px solid #f8f0cb;
	border-radius: 3px;
	box-shadow: none;
	padding: 3px;
	font-weight:bold;
}




.reply {
    float:right;
    margin:0 10px 10px 0;
    text-align:center;
    background-color: #55737D;
    border:1px solid #55737D;
    border-radius:3px;
    padding:3px;
    width:50px;
    box-shadow: 1px 1px 2px 2px #4f4f4f;
}
 
.comment article {
    padding-bottom:2.79rem;
}
 
a.comment-reply-link,
a.comment-edit-link {
    color: #FFFFFF;
    font-size: 13px;
    font-size: 0.928571429rem;
    line-height: 1.846153846;
    text-decoration:none;
}
 
a.comment-reply-link:hover,
a.comment-edit-link:hover {
    color: #f6e7d7;
}


a.comment-edit-link {
	float:left;
	margin:0 0 10px 10px;
	text-align:center;
	background-color: #55737D;
	border:1px solid #55737D;
	border-radius:3px;
	padding:3px;
	width:50px;
	box-shadow: 1px 1px 2px 2px #4f4f4f;
}



#cancel-comment-reply-link  { 
	text-align:center;
	background-color: #55737D;
	border:1px solid #55737D;
	border-radius:3px;
	padding:3px;
	width:50px;
	color:#FFFFFF;
	box-shadow: 1px 1px 2px 2px #4f4f4f;
	text-decoration:none;
}*/